body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
body {
	background-color: #F2F2F2;
	max-width: 15rem;
	margin: 0 auto;
	padding-bottom: 3rem;
}
a {
	text-decoration: none;
	color: #000;
}

.head {
	box-sizing: border-box;
	padding: 0.5rem 0.7rem;
	display: -webkit-flex;
	display: flex;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-width: 15rem;
	margin: 0 auto;
}
.head div {
	-webkit-flex:1;
	flex:1;
	font-size: 0.8rem;
	padding: 0.3rem 0.5rem;
	text-align: center;
}
.active {
	color: #FF679A;
	border-bottom: 0.05rem solid #FF679A;
}
.disp {
	display: none;
	margin-top: 3rem;
}
.quanbu {
	display: block;
}
.quanbu .jieru {
	color: #000;
	display: block;
}

/*全部*/
.top {
	margin-top: 0.6rem;
	padding: 0.7rem;
	background-color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-bottom: 0.02rem solid #ccc;
}
.left {
	font-size: 0.6rem;
}
.right span {
	font-size: 0.6rem;
	color: #FF679A;
	line-height: 1.6rem;
	display: block;
}
.main {
	padding: 0.7rem;
	background-color: #fff;
	border-bottom: 0.02rem solid #ccc;
	display: -webkit-flex;
	display: flex;
}
.logo img {
	width: 2.2rem;
	height: 2.2rem;
}
.txt {
	margin-left: 0.3rem;
}
.txt p {
	font-size: 0.6rem;
	width: 10.7rem;
	height: 0.8rem;
}
.txt p:nth-child(2) {
	color: #ccc;
}
.txt p:nth-child(3) {
	color: #FF679A;
}
.you {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-left: 0.15rem;
}
.you img {
	width: 0.26rem;
	height: 0.48rem;
}
.btn {
	padding: 0.7rem;
	background-color: #fff;
	font-size: 0.6rem;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.btn .pink {
	color: #FF679A;
}
.btn p:nth-child(2) {
	margin-top: 0.5rem;
}
.btn p .fu1 {
	padding: 0.1rem 0.4rem;
	border: 0.05rem solid #FF679A;
	border-radius: 0.5rem;
	color: #FF679A;
}
.btn p .fu2 {
	padding: 0.1rem 0.4rem;
	border: 0.05rem solid #ccc;
	border-radius: 0.5rem;
	color: #ccc;
	margin-left: 0.2rem;
}
.fukuang {
	padding-bottom: 1rem;
}